body {
    margin: 0;
    background: #0C4A6E;
}

.container {
    display: flex;
    justify-content: space-around;
    

}
h3{
    width: 150px;
    height: 36px;
    top: 68px;
    left: 85px;
    gap: 0px;
    opacity: 0px;
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 35.89px;
    text-align: center;
    
}
h4 {
    font-family: 'Cursed Timer ULiL';
    color: #F94F6D;
    background: black; 
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    text-align: center;
    margin: 10px 0px 10px 0px;  
    width: 145px;
    height: 120px;
    top: 125px;
    border-radius: 5px;
    opacity: 0px;
}
#home-score{
    left: 82px;
}
#away-score{
    left: 337px;
}
.home-pts{
    width: 155px;
    height: 45px;
    top: 271px;
    left: 82px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    border: 2px solid #9AABD8;
    background: #9AABD8;
}
.away-pts{
    width: 155px;
    height: 45px;
    top: 271px;
    left: 337px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;
    border: 2px solid #9AABD8;
    background: #9AABD8;
}
#home-one{
    width: 45px;
    height: 45px;
    top: 271px;
    left: 82px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;

}
#home-one:hover{
    border:white;
}
#home-two{
    width: 45px;
    height: 45px;
    top: 271px;
    left: 136px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;

}
#home-three{
    width: 45px;
    height: 45px;
    top: 271px;
    left: 192px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;

}
#away-one{
    width: 45px;
    height: 45px;
    top: 271px;
    left: 337px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;

}
#away-two{
    width: 45px;
    height: 45px;
    top: 271px;
    left: 391px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;

}
#away-three{
    width: 45px;
    height: 45px;
    top: 271px;
    left: 447px;
    gap: 0px;
    border-radius: 5px;
    opacity: 0px;

}